html,
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  transition: 500ms;
  opacity: 1;
}

.list__item:hover {
  opacity: 1;
  transform: scale(1.01, 1.01);
}

.list:hover .list__item:not(:hover) {
  opacity: 0.8;
}
